# dependencies
node_modules/

# environment variables
.env
.env.*

# allow templates
!.env.copy
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# build output
dist/
build/

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

#others

# qr uploads
qr/*
!qr/.gitkeep